<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <title>Movie Booking</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <header class="site-header">
    <div class="container">
     <h1><a href="{{ url_for('index') }}">🎟️ CineBook 🎬🍿</a></h1>
      <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('movies') }}">Movies</a>
        <a href="{{ url_for('checkout') }}">Checkout</a>
        <a href="{{ url_for('history') }}">History</a>
      </nav>
    </div>
  </header>

  <main class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flash">
          {% for m in messages %}
            <div class="flash-item">{{ m }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
  </main>

  <footer class="site-footer">
    <div class="container">ADS Project</div>
  </footer>
</body>
</html>
